.late-cofe .container{
    display: flex;
    background-color: #2C343E;
    border-radius: 10px;
    margin-top: 158px;
    padding: 100px 85px;
}

.late-cofe__info{
    color: white;
    width: 540px;
    font-family: 'Barlow', sans-serif;

}
.late-cofe__img{
    margin-left: auto;
    margin-top: -200px;
    border-radius: 10px;
}